/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container {
	width: 876px;
	margin: 30px;
}

header nav {
	display: inline-block;
	margin-top: 35px;
}

header img.logo {
	margin-left: 40px;
}

header nav a {
	margin: 0 20px;
}

div.cta-text {
	display: inline-block;
}

div.cta-text h1 {/* Why doesn't it work when I do h1.cta-text? */
	font-size: 80px; 
	margin-left: 40px;
	margin-top: 170px;
	text-align: center;
}

div.cta-text button {/* Why doesn't it work when I do button, or button.cta-text? */
	font-size: 15px;
	margin-left: 135px;
	border: 1px solid black;
	padding: 3px 20px;
}

section.cta img {
	margin-left: 100px;
	vertical-align: center;
}

img.cta-text { /* Why doesn't it move even with margin changes? */
	display: inline-block;
	margin: 300px;
}


.first-section-divs {
	display: inline-block;
	width: 400px;
	margin-left: 10px;
	margin-bottom: 30px;
}

.third-section-divs {
	display: inline-block;
	width: 250px;
	margin-left: 10px;
}

h4 {
	margin-top: 40px;
}

.contact {
	margin-left: 10px;
}

footer {
	margin-top: 30px;
	margin-left: 350px;
}

/* What's with all the code push on git? do I have to do it?*/


/* how do I center align?*/